---
import { Card, Header } from "@components/";
import Base from "@layouts/Base.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("liderazgo-en-crecimiento")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---

<Base title="Astro Blog">
	<section class="container mx-auto p-4" aria-label="header">
		<Header title="Astro Blog" />
	</section>
	<section class="container mx-auto p-4">
		<h2>contenido principal</h2>
		<div class="grid grid-cols-3 gap-4">
			{
				posts.map((post) => (
					<Card
						title={post.data.title}
						time={post.data.pubDate}
						tags={post.data.tags}
						slug={post.slug}
					/>
				))
			}
		</div>
	</section>
</Base>
